# Ignorar a pasta do ambiente virtual
venv/
.venv/

# Ignorar outros arquivos desnecessários
__pycache__/
*.pyc
.vscode/

# Ignorar arquivos do R
.Rhistory
.RData

# Variáveis de ambiente e segredos
.Renviron
